---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="max-w-7xl mx-auto">
    <h1 class="text-[#00994D] text-3xl font-extrabold py-3">
      CoinApp - Mobile App
    </h1>
    <article class="text-sm max-w-[80ch] py-3 flex flex-col gap-3">
      <p>
        CoinApp was designed and developed by me, combining intuitive UI/UX
        principles with robust functionality. Using Figma, I crafted a
        user-friendly interface, and with React Native, I built a seamless
        cross-platform experience. The app provides real-time exchange rates,
        multilingual support, and an offline mode, ensuring accurate currency
        conversion anytime, anywhere.
      </p>
      <p>
        One of the key challenges was enabling access to exchange rates without
        an internet connection, which I solved by implementing an offline mode
        that stores the latest available rates. CoinApp is available for both
        Android and iPhone, making it the perfect tool for travelers, online
        shoppers, and financial managers looking for a reliable currency
        conversion solution.
      </p>
      <p>
        Link to Google PlayStore :
        https://play.google.com/store/apps/details?id=com.heinseng.coinappv2
      </p>
    </article>
    <img src="1.png" alt="promotion image" />
  </main>
</Layout>
